.band {
	display: block;
	width: 100%;
	height: rem(23);
	background-color: $color-brown;
	background-image: url("@img/wood.webp");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;

	@media (min-width: $md4) {
		height: rem(63);
	}

	// band--wood
	&--wood {
		height: rem(23);

		@media (min-width: $md4) {
			height: rem(63);
		}
	}
}