.footer {
	background: $color-surface;
	color: $color-text;

	// footer__inner
	&__inner {
		padding-block: rem(50) rem(60);

		@media (min-width: $md4) {
			padding-block: rem(50) rem(80);
		}
	}

	// footer__grid
	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		row-gap: rem(24);

		@media (min-width: $md4) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: rem(24);
			row-gap: 0;
		}
	}

	//.footer__menu
	&__menu {
		max-width: rem(220);
		margin-inline: auto;
	}

	// footer__title
	&__title {
		font-size: rem(18);
		line-height: 1.4;
		letter-spacing: -0.01em;
		text-transform: uppercase;
		color: $color-dark;
	}

	// footer__list
	&__list {
		margin-top: rem(10);
		display: flex;
		flex-direction: column;
		gap: rem(4);
	}

	// footer__link
	&__link {
		font-size: rem(16);
		line-height: 1.4;
		letter-spacing: -0.01em;
		color: rgba(0, 0, 0, 0.7);
		transition: color 0.2s ease;

		@media (any-hover: hover) {
			&:hover {
				color: $color-dark;
			}
		}
	}

	// footer__copy
	&__copy {
		margin-top: rem(4);
		font-size: rem(16);
		line-height: 1.4;
		letter-spacing: -0.01em;
		color: rgba(0, 0, 0, 0.7);
	}

	// footer__socials
	&__socials {
		margin-top: rem(10);
		display: flex;
		flex-wrap: wrap;
		gap: rem(13);
	}

	// footer__social
	&__social {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: rem(59);
		height: rem(59);
		border-radius: 50%;
		background: $color-beige;
		color: $color-brown;
		font-size: rem(22);
		transition: background-color 0.2s ease, color 0.2s ease;

		&.icon-envelope {
			&::before {
				font-size: 1rem;

			}
		}

		&.icon-max {
			&::before {
				font-size: 1.75rem;

			}
		}

		&::before {
			display: block;
		}

		@media (any-hover: hover) {
			&:hover {
				background: $color-dark;
				color: $color-white;
			}
		}
	}

	// footer--green
	&.footer--green {
		background: $color-green;
		color: $color-white;

		.footer__title {
			color: $color-white;
		}

		.footer__link,
		.footer__copy {
			color: rgba(255, 255, 255, 0.7);
		}

		.footer__link {
			@media (any-hover: hover) {
				&:hover {
					color: $color-white;
				}
			}
		}

		.footer__social {
			background: $color-dark;
			color: $color-white;

			@media (any-hover: hover) {
				&:hover {
					background: $color-beige;
					color: $color-brown;
				}
			}
		}
	}
}