.hero {
	position: relative;
	isolation: isolate;
	min-height: rem(720);
	overflow: hidden;
	background:
		url("@img/home/boiserie.jpg") 0 100% / auto rem(239) repeat-x,
		url("@img/home/hero-overlay.svg") center 0 / auto 100% no-repeat,
		linear-gradient(180deg, rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0.61) 100%) 0 0 / max(0px, calc((100% - #{rem($maxWidth)}) / 2)) 100% no-repeat,
		linear-gradient(180deg, rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0.61) 100%) 100% 0 / max(0px, calc((100% - #{rem($maxWidth)}) / 2)) 100% no-repeat,
		url("@img/home/hero-bg.jpg") 0 0 / cover no-repeat,
		$color-dark;
	color: $color-white;
	display: flex;
	flex-direction: column;

	@media (min-width: $md4) {
		min-height: rem(1080);
	}

	.band {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 4;
	}

	// hero__content
	&__content {
		position: relative;
		z-index: 2;
		padding-top: rem(80);
		height: 100%;
		flex: 1;

		@media (min-width: $md4) {
			padding-top: rem(68);

		}
	}


	// hero__photo-wrap
	&__photo-wrap {
		position: absolute;
		z-index: 2;
		left: 50%;
		bottom: rem(120);
		width: min(100%, rem(720));
		transform: translateX(-50%);
		pointer-events: none;

		@media (min-width: $md4) {
			bottom: rem(80);
			width: rem(980);
		}

		@media (min-width: $md2) {
			width: rem(1282);
			bottom: rem(60);
		}
	}

	// hero__photo
	&__photo {
		display: block;
		width: 100%;
		height: auto;
		object-fit: contain;
	}

	// hero__title
	&__title {
		max-width: rem(1810);
	}

	// hero__title-img
	&__title-img {
		display: block;
		width: 100%;
		height: auto;
		max-width: rem(1810);
	}

	// hero__lead
	&__lead {
		max-width: rem(434);
		color: $color-white;
		position: absolute;
		top: 22.9rem;
	}

}