@use "sass:math";

.hero {
	position: relative;
	isolation: isolate;
	min-height: rem(876);
	overflow: hidden;
	background: url("@img/home/boiserie.webp") 0 100% / auto #{rem(84)} repeat-x,
	linear-gradient(180deg, rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0.61) 100%),
	url("@img/home/hero-bg.webp") 0 0 / cover no-repeat,
	$color-dark;
	color: $color-white;
	display: flex;
	flex-direction: column;

	@media (min-width:$md5) {
		min-height: rem(900);
	}

	@media (min-width: $md3) {
		min-height: rem(1080);
		background: url("@img/home/boiserie.webp") 0 100% / auto #{rem(239)} repeat-x,
		url("@img/home/hero-overlay.svg") center 0 / auto 100% no-repeat,
		linear-gradient(180deg, rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0.61) 100%) 0 0 / max(0px, calc((100% - #{rem($maxWidth)}) / 2)) 100% no-repeat,
		linear-gradient(180deg, rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0.61) 100%) 100% 0 / max(0px, calc((100% - #{rem($maxWidth)}) / 2)) 100% no-repeat,
		url("@img/home/hero-bg.webp") 0 0 / cover no-repeat,
		$color-dark;
	}

	@media (min-width: $md3) and (max-width: 1919.98px) {
		min-height: 0;
		aspect-ratio: 1920 / 1080;
		background: url("@img/home/boiserie.webp") 0 100% / auto #{math.div(239, 1080) * 100%} repeat-x,
		url("@img/home/hero-overlay.svg") center 0 / auto 100% no-repeat,
		linear-gradient(180deg, rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0.61) 100%) 0 0 / max(0px, calc((100% - #{rem($maxWidth)}) / 2)) 100% no-repeat,
		linear-gradient(180deg, rgba(0, 0, 0, 0.61) 0%, rgba(0, 0, 0, 0.61) 100%) 100% 0 / max(0px, calc((100% - #{rem($maxWidth)}) / 2)) 100% no-repeat,
		url("@img/home/hero-bg.webp") 0 0 / cover no-repeat,
		$color-dark;
	}

	.band {
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 4;
		height: rem(23);

		@media (min-width:$md5) {
			height: rem(40);
		}

		@media (min-width: $md3) {
			height: rem(63);
		}
	}

	// hero__content
	&__content {
		position: relative;
		z-index: 2;
		padding-top: rem(48);
		height: 100%;
		flex: 1;

		@media (min-width: $md4) {
			padding-top: rem(68);
		}

		@media (max-width: 1919.98px) {
			@media (min-width: $md3) {
				padding-top: math.div(140, 1920) * 100vw;

			}

			@media (min-width: $md2) {
				padding-top: math.div(110, 1920) * 100vw;

			}

			@media (min-width:$md1) {
				padding-top: math.div(68, 1920) * 100vw;

			}
		}

	}

	// hero__photo-wrap
	&__photo-wrap {
		position: absolute;
		z-index: 2;
		left: rem(-64);
		bottom: rem(84);
		width: rem(408);
		aspect-ratio: 408 / 456;
		overflow: hidden;
		pointer-events: none;

		@media (min-width:$md4) {
			left: 50%;
			transform: translateX(-50%);
		}

		@media (min-width: $md3) {
			bottom: rem(60);
			width: rem(1282);
			max-width: rem(1282);
			aspect-ratio: 1282 / 985;
			overflow: visible;

		}

		@media (min-width: $md3) and (max-width: 1919.98px) {
			bottom: math.div(64, 1920) * 100vw;
			width: math.div(1282, 1920) * 100%;
		}
	}

	// hero__photo
	&__photo {
		display: block;
		width: 145.51%;
		max-width: none;
		height: 100%;
		margin-left: -21.73%;
		object-fit: cover;

		@media (min-width: $md3) {
			width: 100%;
			height: auto;
			margin-left: 0;
			object-fit: contain;
		}
	}

	// hero__title
	&__title {
		max-width: rem(480);

		@media (min-width: $md3) {
			max-width: rem(1810);
		}
	}

	// hero__title-img
	&__title-img {
		display: block;
		width: 100%;
		height: auto;


		@media (min-width: $md3) {
			max-width: rem(1810);
		}
	}

	// hero__lead
	&__lead {
		position: relative;
		max-width: rem(320);
		margin-top: rem(22);
		color: $color-white;
		font-size: rem(12);
		line-height: 1.3;

		@media (min-width:$md4) {
			max-width: rem(260);
		}

		@media (min-width: $md3) {
			position: absolute;
			top: 22.9rem;
			max-width: rem(434);
			font-size: rem(14);
			margin-top: 0;
			font-size: rem(16);
			line-height: 1.3;
		}

		@media (max-width: 1919.98px) {

			@media (min-width:$md3) {
				top: math.div(480, 1920) * 100vw;
				font-size: rem(14);
				max-width: rem(260);
			}

			@media (min-width:$md2) {
				top: math.div(400, 1920) * 100vw;
				max-width: rem(320);
			}

			@media (min-width:$md1) {
				top: math.div(367, 1920) * 100vw;
				font-size: 1rem;
			}
		}
	}
}