<div class="custom-select">
	<label class="visually-hidden" for="@@id">@@label</label>
	<select class="custom-select__native" id="@@id" name="@@name" tabindex="-1" aria-hidden="true">
		<option value="" selected>@@placeholder</option>
		@@include('html/templates/custom-select-option-native.html', {
			"value": "option-1",
			"text": "Вариант 1"
		})
		@@include('html/templates/custom-select-option-native.html', {
			"value": "option-2",
			"text": "Вариант 2"
		})
		@@include('html/templates/custom-select-option-native.html', {
			"value": "option-3",
			"text": "Вариант 3"
		})
	</select>
	<button
		type="button"
		class="custom-select__trigger"
		aria-haspopup="listbox"
		aria-expanded="false"
		aria-controls="@@id-list">
		<span class="custom-select__value">@@placeholder</span>
	</button>
	<ul class="custom-select__list" id="@@id-list" role="listbox" tabindex="-1" hidden>
		@@include('html/templates/custom-select-option-list.html', {
			"value": "option-1",
			"text": "Вариант 1"
		})
		@@include('html/templates/custom-select-option-list.html', {
			"value": "option-2",
			"text": "Вариант 2"
		})
		@@include('html/templates/custom-select-option-list.html', {
			"value": "option-3",
			"text": "Вариант 3"
		})
	</ul>
</div>
