<div class="custom-select @@modClass@@if(typeof multiple !== 'undefined' && multiple){ custom-select--multiple}" id="@@id" data-name="@@name">
	<span class="visually-hidden" id="@@id-label">@@label</span>
	<div class="custom-select__head">
		<button
			type="button"
			class="custom-select__trigger"
			aria-labelledby="@@id-label"
			aria-haspopup="listbox"
			aria-expanded="false"
			aria-controls="@@id-list">
			<span class="custom-select__value">@@placeholder</span>
		</button>
		@@if(typeof clearable !== 'undefined' && clearable){
		<button type="button" class="custom-select__clear" aria-label="Очистить фильтр @@label">Очистить</button>
		}
	</div>
	@@if(typeof multiple !== 'undefined' && multiple){
	<div class="custom-select__panel" hidden>
		<ul class="custom-select__list" id="@@id-list" role="listbox" aria-multiselectable="true" tabindex="-1">
			@@loop('custom-select-option-list.html', '@@options')
		</ul>
		<div class="custom-select__foot">
			<button type="button" class="custom-select__apply btn">Применить</button>
		</div>
	</div>
	}
	@@if(typeof multiple === 'undefined' || !multiple){
	<ul class="custom-select__list" id="@@id-list" role="listbox" tabindex="-1" hidden>
		@@if(typeof hidePlaceholderOption === 'undefined' || !hidePlaceholderOption){
		<li class="custom-select__option is-selected" role="option" data-value="" aria-selected="true" tabindex="-1">
			<span class="custom-select__option-label">@@placeholder</span>
			<span class="custom-select__option-check" aria-hidden="true"></span>
		</li>
		}
		@@loop('custom-select-option-list.html', '@@options')
	</ul>
	}
	<input type="hidden" name="@@name" value="">
</div>
